html,
body {
  padding: 0 16px 0 16px;
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #16A085;
}

.canvas {
  fill: black;
}

.axis path,
.axis line {
  fill: none;
  stroke: #eee;
  shape-rendering: crispEdges;
}

text {
  font-size: 12px;
  fill: #34495E;
}

.y-axis .tick line,
.y-axis .domain {
  display: none;
}

.rectangle {
  fill: #34495E;
}

.x-axis-label {
  fill: white;
}

